.comment-container{
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #f9f9f9;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.content-area {
    width: 100%;
    min-height: 80px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}